body{
  display: flex;
flex-wrap: wrap;
}
div{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  
}
.1{
width: 100%;
}
.2{
  width: 100%;
}
@media screen {
  
}
@media screen and (max-width: 768px){
  div{
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 1.5rem 0 1rem;
    text-align: center;
    background-color: var(--body-color);
    transition: .4s;
    box-shadow: 0 4px 4px rgba(0,0,0,.1);
    border-radius: 0 0 1rem 1rem;
    z-index: var(--z-fixed);
  }
  @media screen and (min-width: 768px){
    body{
      margin: 0;
    }
    div .img{
      width: 130px;
    }